// _color.scss

$color-casino-base: #131B2F;
$color-casino-base-opaque: rgba(19, 27, 47, .5);

$color-ui-casino-01: #FFFFFF;

$color-ui-casino-02: #B6B7C0;

$color-ui-casino-03: #747885;

$color-casino-complimentary: #F72585;

$gradient-background: linear-gradient(90deg, #353B4D 0%, #1F263A 100%);

$gradient-brand: linear-gradient(90deg, #A5CD28 0%, #69A507 100%);

$gradient-avatar: linear-gradient(180deg, rgba(26, 23, 30, 0.64) 0%, rgba(26, 23, 30, 0) 24.98%, rgba(26, 23, 30, 0) 74.94%, rgba(26, 23, 30, 0.64) 100%);

$fill-lottoland-white: rgba(182, 183, 192, 0.12);

$fill-lottoland-white-100: rgba(204, 205, 217, 0.12);
